<!DOCTYPE html>
<html>
  <body>
    <div>
      <center>
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd4ULH12GyTYs8Surw_jxuT_EqI85wbFjl4wId4icEydRmW5OH1My_52Zfcair8pyOTXE&usqp=CAU"
          alt="psgtech_logo"
          style="margin-top: 100px"
        />
        <h1>PSG College Of Technology</h1>
        <h1>INFOZONE</h1>
        <form>
          <table>
            <tr>
              <td>Username</td>
              <td><input type="type" placeholder="" /></td>
            </tr>
            <tr>
              <td>Password</td>
              <td><input type="password" placeholder="" /></td>
            </tr>
          </table>
        </form>
        <br />
        <button onclick="alert('Hello')">Login</button>
      </center>
    </div>
  </body>
</html>
